# SPDX-FileCopyrightText: 2022 Renaissance Computing Institute. All rights reserved.
#
# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-License-Identifier: LicenseRef-RENCI
# SPDX-License-Identifier: MIT

common/__pycache__/
postgres/src/APSVIZ.pg_utils.log
postgres/src/__pycache__/
supervisor/src/__pycache__/
supervisor/src/logs/
supervisor/base_config.json
supervisor/src/APSVIZ.APSVizSupervisor.log
supervisor/src/APSVIZ.JobCreate.log
supervisor/src/APSVIZ.JobFind.log
