# SPDX-FileCopyrightText: 2022 Renaissance Computing Institute. All rights reserved.
#
# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-License-Identifier: LicenseRef-RENCI
# SPDX-License-Identifier: MIT

common/__pycache__/
postgres/src/__pycache__/
supervisor/src/__pycache__/
/common/base_config.json

/common/APSVIZ.APSVizSupervisor.log
/common/APSVIZ.JobCreate.log
/common/APSVIZ.JobFind.log
/common/APSVIZ.pg_utils.log
