[MASTER]
disable=broad-except
init-hook='import sys; sys.path.append("./")'
max-line-length=150
max-args=7
min-public-methods=0
max-attributes=10
max-nested-blocks=10
max-branches=25
max-statements=60
max-locals=35